<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple cookie login: New user!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Create new user lol</h1>
    <div>
        <label for="Name">Namessssssssssssssssss:</label>
        <input type="text" id="Name" name="Name" required />
    </div>
    <button type="button" onclick='setCookie()'>Submit</button>
</body>
<script type="text/javascript">	
	function setCookie() {
        let cname = 'username';
        let exdays = 1;
        let cvalue = document.getElementById('Name').value;
        if(cvalue != ''){
            var d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            location.reload();
        }else{
            alert('Missing name');
        }
    	
	}
</script>
</html>